[Unit]
Before=sleep.target
[Service]
Type=oneshot
ExecStart=/bin/bash -c ''
ExecStop=/bin/bash -c 'modprobe -r brcmfmac_wcc; modprobe brcmfmac_wcc'
[Install]
WantedBy=sleep.target
